.svg:not(:root).svg-inline--fa {
  overflow: visible;
}

.svg-inline--fa.fa-w-14 {
  width: .875em;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -.125em;
}

.word-break {
  word-break: break-all;
}
