table, th, td {
  border: 1px solid black;
}

button {
  border: 1px solid blue;
  border-radius: 5px;
  margin: 5px;
}

.RestHooksTable {
  margin-top: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
